<h1>Listing specialization_weights</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @specialization_weights.each do |specialization_weight| %>
      <tr>
        <td><%= link_to 'Show', specialization_weight %></td>
        <td><%= link_to 'Edit', edit_specialization_weight_path(specialization_weight) %></td>
        <td><%= link_to 'Destroy', specialization_weight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Specialization weight', new_specialization_weight_path %>
