<h1>Listing skill_cats</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @skill_cats.each do |skill_cat| %>
      <tr>
        <td><%= link_to 'Show', skill_cat %></td>
        <td><%= link_to 'Edit', edit_skill_cat_path(skill_cat) %></td>
        <td><%= link_to 'Destroy', skill_cat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Skill cat', new_skill_cat_path %>
